body{
    background: url('home.jpg')no-repeat center center fixed;
    background-size: cover;
}

.midis{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-around;
}
.qysh{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: space-evenly;
}